#app {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.logoH {
  width: 130px;
}

.home-container, .contact-container, .appointment-container, .catalog-container, .terms-container , .login-container{
  padding: 3% 9% 4% 9% !important;
  margin-top: 90px;
}

/* CSS para móviles */
@media (max-width: 1100px) {
  .home-container,
  .contact-container,
  .appointment-container,
  .catalog-container,
  .terms-container{

    .logoH {
      width: 120px;
    }

    margin-top: 120px;

  }
}

a {
  margin: 1px;
}
