#app {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #f9f9f9;}

.logoH {
  width: 130px;
}

.home-container, .contact-container{
  padding: 2.5% 7% 4% 7% !important;
  background-color: #f9f9f9;
}

a {
  margin: 1px;
}

state-in-hover {}

state-in-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsl(190, 39%, 55%);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
