#app {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.logoH {
  width: 130px;
}

.home-container, .contact-container, .appointment-container, .catalog-container, .terms-container , .login-container{
  padding: 5% 6.5% 4% 6.5% !important;
  margin-top: 80px;
}

/* CSS para móviles */
@media (max-width: 768px) {
  .home-container,
  .contact-container,
  .appointment-container,
  .catalog-container,
  .terms-container{

    .logoH {
      width: 90px;
    }

    margin-top: 80px;

  }
}

a {
  margin: 1px;
}

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsl(190, 39%, 55%);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
